.about-me{
    display: flex;
    flex-direction: row;
}
.about-half{
    width: 50%;
    margin: auto 50px;
    padding: 0 20px;
}
.picture{
    padding-left: 25px;
}
.picture img{
    border-radius: 50%;
}
@media  (max-width: 767px) {
    .about-me{
        flex-direction: column-reverse;
    }
    .about-half{
        margin: 5%;
        padding: 5%;
    }
    .picture{
        padding: 0;
    }
}
